@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  /* background-color: #366cbd ; */
}

.Greensol Page {
  position: relative;
  /* top: -700px; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40;
  overflow: hidden;
  text-align: center;
  background: white;
  color: white;
  font-size: small;
  width: 1280px;
  height: 99px;
  border-radius: .3em;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px px;
  border: solid 1px #ccc;

}

.background {
  background: #366cbd;
}

.greensol-icon {
  margin-left: 30px;
}

.message-icon,
.bell-icon,
.user-icon {
  width: 20px;
  margin-right: 20px;
}

.user-icon {
  border-radius: 50%;
  border: solid 1px black;
}

.site-logo {
  /* margin-right: 95%; */
}

.Job-Information {
  display: flex;
  gap: 1.5rem;
  padding: .5rem 1.5rem 0rem 1.5rem;
}

.Postings {
  font-size: medium;
  color: black;
  text-align: center;
  line-height: 23px;
  font-size: small;
  flex: 1;
  background-color: white;
  border-radius: .3em;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px px;
  border: solid 1px #ccc;
  overflow-y: auto;
  direction: rtl;
}

.Postings-label .freelance-label, .remote-label, .intermediate-label{
 border: solid 1px #f4f4f4;
 background-color: #f4f4f4;
 padding: 2px 4px;
 border-radius: 5%;
 gap: 1rem;

}

.card-container1 {
 
}

.card1 {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: .3em;
  margin-bottom: 20px;
  text-align: center;
  }
  .card1 h5, .card1 p {
    color: grey;
  }

.card h2 {
  margin-top: 0;
}

.card p {
  margin-bottom: 20px;
}

/* .small-card-container {
  display: flex;
  justify-content: left;
} */

/* .small-card {
  justify-content: left;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 0.2em;
  height: 50px;
  width: 50px;
  
  
} */

 /* .small-card1 {
  display: flex;
  background: #eee;
  height: 40px;
  width: 120px;
  border-radius: .2em;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px px;
  border: solid 1px #ccc;
  transform: scale(.68);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
} */

/* .card1.detail-button {
  display: flex;
  background: white;
  border-radius: .3em;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px px;
  border: solid 1px #ccc;
  height: 50px;

} */

*/ .ex1 {
  width: 110px;
  height: 110px;
  overflow: scroll;
}


.HeroImage-container {
  font-size: medium;
  color: black;
  flex: 2.5;
  text-align: center;
  line-height: 200px;
  background-color: white;
  border-color: grey;
  border: solid 1px #ccc;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px x;
  border-radius: .3em;
  display: flex;

}

.hero-greensol {
  transform: scale(.9) scaleX(1.4);
  padding: .01em 5em 10em 7em;
}

.logo-container {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translate(-750px, 180px);
}

.logo-container img {
  width: 80px;
  height: 80px;
  transform: translate(2px)
}

.Greensol-logo {
  position: absolute;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* padding: 1em 0; */
  text-align: center;
  /* box-sizing: border-box; */
  transform: translate(390px, -70px);
}

.Social-media-icons {
  display: flex;
  /* justify-content: flex-start;  */
  position: relative;
  right: -570px;
  top: -15px;
}

.facebook-icon {
  position: relative;
  border-radius: 50%;
  /* border: solid 1px white;
  background-color: white; */
}

.Job-Title {
  display: inline-flex;
  justify-content: left;
  margin: 0;
}


.Part-time h3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: 10px;

}

.Part-time h3 span {
  margin: 0 10px;
  position: relative;
}

.card {
  width: 20%;
  display: flex;
  background: white;
  padding: 2em 4em 1em 2em;
  margin: -1.2em;
  margin-bottom: 0;
  border-radius: .3em;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px px;
  border: solid 1px #ccc;
  transform: scale(.78);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.Requirements {
  font-size: medium;
  color: #ccc;
  height: auto;
  width: 510px;
  height: 450px;
  text-align: center;
  line-height: 25px;
  font-size: small;
  margin: 100px;
  background-color: white;
  border-radius: .3em;
  /* display: flex; */
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px px;
  border: solid 1px #ccc;
  margin-left: 31%;
  margin-top: .01%;
  transform: translateY(-59px);
}

.content2 {
  text-align: left;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  color: #eee;
  /* max-width: 10px ; */
}

.content2 h3 {
  text-align: left;
  display: flex;
  justify-content: left;
}

.About {
  font-size: medium;
  color: black;
  height: auto;
  width: 328px;
  height: 450px;
  text-align: center;
  line-height: 200px;
  margin: 100px;
  background-color: white;
  border-radius: .3em;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px px;
  border: solid 1px #ccc;
  display: flex;
  margin-left: 31%;
  margin-top: .01%;
  transform: translate(530px, -609px);
  margin-bottom: 0;
}

.label-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 2px; 
  transform: translate(650px, -315px); */

}

label {
  margin: 0 5px;
  justify-content: space-around;
  padding: 20px 20px;
  white-space: nowrap;
}

.find-jobs-label {
  border-radius: 5%;
  outline: 0.5px solid #366cbd;
  background-color: #366cbd;
  color: white;
  padding: 10px 15px;

}

.footer {
  text-align: center;
  height: 50px;
  margin-top: -50px;
}


/* .Find{
  font-size: medium;
  color: black;
  width: 100%;
  height: auto;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  margin: 10px;
  background-color: yellow;
  flex-direction: row;
} */
/* .Company{
  font-size: medium;
  color: black;
  width: 100%;
  height: auto;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  margin: 10px;
  background-color: yellow;
  flex-direction: row;
}
.Career{
  font-size: medium;
  color: black;
  width: 100%;
  height: auto;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  margin: 10px;
  background-color: yellow;
  flex-direction: row;
}
 */